table.form-table-webtracking {
	table-layout: fixed;
	width: 600px;
	margin: 0 0 0 0;
}

.form-table-webtracking td:first-child {
	text-align: right;
	width: 190px;
}

.form-table-webtracking td {
	vertical-align: middle;	
	border: 0 none;
}
