table.form-table-report-webtracking {
	table-layout: fixed;
	width: 688px;
	margin: 1em 0em 1em 0em;
	border-color: #d4d2d0;
}

.form-table-report-webtracking td:first-child {
	text-align: right;
	width: 180px;
}

.form-table-report-webtracking td {
	vertical-align: middle;	
	border: 0 none;
}

#transaction-view-container {
	margin: 2em 0em 0em 0em
}